@font-face {
    font-family: 'Fertigo';
    src: url(/fonts/FertigoRegular.otf) format('opentype');
}

html {
  scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/FSLogo1440pAdjusted.png); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center; 
    background-attachment: fixed;
    scroll-behavior: smooth;

}

h1 {
    text-align: center;
    font-size: 100px;
    color: white;
    font-family: 'Fertigo';
    text-shadow: 6px 6px 12px #000000;
    letter-spacing: 7px;
}

#active {
    color: white;
    text-decoration: underline;
    text-underline-offset: 8px;
  }
  
  ul {
    list-style-type: none;
    background-color: transparent;
    margin: 0;
    overflow: hidden;
    position: relative;
    right: -1px;
    top: 0;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    z-index: 5;
  }

  .navbar {
    display: flex;
    justify-content: center;
  }
  
  .navbar-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0; /* Add this line to remove margin */
    padding: 0;
  }
  
  .navbar-item {
    padding: 5px 0px;
    color: white;
    font-family: 'simplifica';
    font-size: 30px;
    text-decoration: none;
    display: block;
    margin-right: 0px;
    margin-left: 0px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;


  }
  
  .navbar-item:hover {
    color: gray;
  }


    .rounded{
        border-radius: 25px;
        border: 2px solid black;
        padding: 20px;
        width: 40%;
        height: 50vh;
        background: white;

      }
      .containerText{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
      }