@font-face {
    font-family: 'Starlord';
    src: url(/fonts/Starlord.ttf) format('truetype');
}
@font-face {
    font-family: 'blowbrush';
    src: url(/fonts/blowbrush.otf) format('opentype');
}
body {
    background-image: url(/images/FSLogo1440pFaded.png); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center; 
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-size: 100px;
    color: white;
    font-family: 'simplifica';
    text-shadow: 6px 6px 12px #000000;
    letter-spacing: 7px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51,0.2);
    position: fixed;
    top: 0;
    width: 100%;
    border: 1px solid gray;
    right: 0;

  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: gray;
    color: black;
  }
  .active {
    background-color: white;
    color: black;
  }